
@use '../helpers' as *;


.footer {
  background: #F9F5EE;
  &__top {
    padding: rem(78) 0;
    border-bottom:  1px solid #d6d6d6;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    a.logo {
      min-width: fluid(241, 149);
      max-width: 241px;
      @include tablet {
        order: 1;
      }
      img {
        width: 100%;
      }
    }
    ul {
      columns: 3;
      @include tablet {
        order: 3;
        grid-column: 1 / -1;
        gap: fluid(100, 10);
      }
      @include mobile {
        columns: 2;
      }
      li {
        @include laptop-above {
          width: fluid(210, 140);
        }
        @include tablet {
          width: 100%;

        }
        &:nth-child(2) {
          margin-left: 0;
        }
        & + li {
          margin-left: rem(23);
          @include mobile {
            margin-left: unset;
          }
        }
        &:nth-child(odd) {
          margin-bottom: rem(15);
          @include mobile {
            margin-bottom: unset;
          }
        }
      }
    }
    &-contact {
      display: grid;
      gap: rem(10);
      order: 2;
      .btn {
        font-size: rem(16);
        margin-left: auto;
        max-width: rem(211);
      }
    }
    &-item {
      display: flex;
      align-items: center;
      gap: rem(10);

      a {
        font-family: var(--font-family);
        font-weight: 400;
        @include fluid-text(32,10);
        text-align: right;
        color: var(--border);
        @include mobile {
          @include fluid-text(32,24);
        }
      }
    }
  }
  &__bottom {
    padding: rem(54) 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include tablet {
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(19);
        justify-items: center;
        span {
          text-align: center;
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
            text-align: center;
          }
        }
      }

    }
    &-social {
      display: flex;
      align-items: center;
      gap: rem(17);
      @include tablet {
        order: 3;
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0px;

  opacity: 0;
  z-index: 2;
  &.active {
    background: rgba(0, 7, 14, 0.5);
    opacity: 1;
    transition: .2s ease-in;
    width: 100%;
    height: 100%;
  }
}
.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 31%;
  background: #FFF;
  height: 100%;
  z-index: 3;
  opacity: 0;
  width: 0;
  animation: viewModalreverse .3s ease-out;
  @media (height > 929px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.active {
    animation: viewModal .3s ease-in;
    width: 569px;
    opacity: 1;
    padding: rem(50) rem(69);
    @include mobile {
      width: 80%;
    }
    @include mobile-s {
      width: 100%;
      padding: rem(30) rem(23);
    }
  }
  .close {
    position: absolute;
    top: 37px;
    right: 40px;
    width: fluid(23, 17);
    img {
      width: 100%;
    }
    @include mobile {
      top: 17px;
      right: 25px;
    }
  }
  h2 {
    margin: 0;
    @include fluid-text(50, 38);
    margin-bottom: 7px;
    line-height: 1.3;
    @media screen and (max-height: 768px) {
      @include fluid-text(36, 28);
    }
  }
  p {
    margin-bottom: 5px;
    @media screen and (max-height: 768px) {
      @include fluid-text(16, 14);
    }
  }
  form {
    display: grid;
    gap: 11px;
    margin-bottom: 45px;
    @media screen and (max-height: 768px) {
      margin-bottom: rem(20);
    }
    br {
      display: none;
    }
    input {
      max-height: 60px;
      @media screen and (max-height: 768px) {
        max-height: 40px;
      }
      @include mobile {
        height: 50px;
      }
    }
    input,
    textarea {
      width: 100%;
      border: 1px solid #d6d6d6;
      border-radius: 50px;
      padding: 23px 30px;
      line-height: 1.3;
      &::placeholder {
        color: var(--typography-grey);
      }
      @media screen and (max-height: 768px) {
        @include fluid-text(16, 14);
      }
      @include mobile {
        padding: rem(6) rem(23);
        border-radius: 40px;
      }
    }
    textarea {
      resize: none;
      height: 100px;
      border-radius: 40px;
      @include mobile {
        height: rem(76);
      }
    }
    input[type="submit"],
    button {
      border: 0;
      width: 100%;
      max-width: unset;
      min-height: 60px;
      @include fluid-text(20, 16);
      &:hover {
        opacity: .5;
       transition: .3s ease-in;
      }
      @include mobile {
        min-height: rem(50);
      }
    }
  }
  &__contact {
    display: grid;
    gap: rem(7);
    h3 {
      font-family: var(--font-family);
      font-weight: 700;
      @include fluid-text(30, 24);
      line-height: 1.28;
      color: var(--border);
      margin: 0 0 20px;
      @media screen and (max-height: 768px) {
        @include fluid-text(24, 18);
      }
    }
    .contact__area {
      display: flex;
      align-items: start;
      gap: rem(20);
      @media screen and (max-height: 768px) {
        @include fluid-text(16, 14);
      }

      a {
        color: inherit;
      }
      &-social {
        display: flex;
        align-items: center;
        gap: rem(14);
        margin-top: rem(17);
      }
    }
  }
}

@keyframes viewModal {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes viewModalreverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    width: 569px;
  }
}
