@use '../helpers' as *;
.header {
  &__navigation {
    padding: 22px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @include tablet {
        gap: 0;
      }
    }
    a.logo {
      width: fluid(193, 120);
      img {
        width: 100%;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: fluid(55, 0);
      @media screen and (max-width: 1160px) {
        gap: 15px;
      }
      @include tablet {
        display: none;
        height: 0;
        position: fixed;
        left: 0;
        top: 94px;
        height: calc(100vh - 94px);
        overflow: hidden;
        &.active {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          animation: height .5s ease;
          background: #FFF;
          z-index: 4;
          li {
            a {
              font-size: 2.5rem;
            }
          }

        }
      }
      li {
        list-style: none;
        a {
          font-family: var(--font-family);
          font-weight: 400;
          @include fluid-text(18, 14);
          line-height: 1.6;
          text-align: center;
          color: var(--border);
        }
      }
    }
    .btn {
      max-width: rem(211);
      img {
        display: none;
        @include mobile-s {
          display: block;
          width: 100%;
          max-width: 29px
        }
      }
      @include fluid-text(16, 14);

      @media screen and (width <= 1280px) {
        min-width: unset;
        max-width: rem(147);
      }
      @include tablet {
        margin-left: auto;
        padding: 14px 20px;
        max-width: rem(211);

      }
      @include mobile-s {
        font-size: 0;
        aspect-ratio: 1;
        width: rem(50);
        height: rem(50);
        padding: 0;

      }
    }
    .mobile_menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: var(--typography-blue);
      aspect-ratio: 1;
      align-items: center;
      justify-content: center;
      border-radius: 60px;
      padding: 11px;
      position: relative;
      min-width: 50px;
      display: none;
      margin-left: 17px;
      @include tablet {
        display: flex;
      }
      @include mobile-s {
        margin-left: rem(10);
      }
      span {
        width: 29px;
        height: 3px;
        background: var(--neutral-white);
      }
      &.active {
        span {

          &:nth-child(2) {
            display: none;
          }
          &:nth-child(1) {
            rotate: 45deg;
            position: absolute;
            top: 50%;
            transition: rotate .5s ease;
          }
          &:nth-child(3) {
            rotate: -45deg;
            position: absolute;
            top: 50%;
            transition: rotate .5s ease;
          }
        }
      }
    }
  }
  &__hero {
    position: relative;
    height: calc(100vh - 108px);
    display: flex;
    align-items: center;
    overflow: hidden;
    @include tablet {
      display: block;
      padding-top: rem(80);
      height: 830px;
    }


    .bg {
      position: absolute;
      top: 0;
      object-fit: cover;
      height: 100%;
      right: -9%;
      @include laptop {
        right: 0;
        object-position: -370px 0;
      }
      @media screen and (width < 1280px) {
        object-position: -529px 0;

      }
      @include tablet {
        object-position: -529px 0;
      }
      @include mobile {
        object-position: unset;
      }
    }
    h1 {
      font-family: var(--font-family);
        font-weight: 700;
        font-size: 110px;
        @include fluid-text(110, 60);
        line-height: 1;
        color: var(--border);
        max-width: 40%;
        margin: 0 0 rem(40);
    }
    .subtitle {
      font-family: var(--font-family);
      font-weight: 600;
      @include fluid-text(55, 30);
      line-height: 1.1;
      display: table;

      color: var(--border);
      margin-bottom: rem(70);
    }
    .btn {
      height: rem(80);
    }
    .box {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .box-item {
      position: relative;
      z-index: 2;
    }
    .banner {
      position: absolute;
      right: rem(30);
      bottom: rem(60);
      display: flex;
      gap: rem(30);
        align-items: center;
        @include mobile {
          width: 90%;
        }
        img {
          @include mobile-s {
            max-width: 110px;
          }
        }
      .content {
        width: 453px;

        padding: rem(30);
        position: relative;
        border: 1px solid var(--typography-white);
        border-radius: 40px;
        overflow: hidden;
        display: flex;

        gap: rem(10);
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
        @include mobile {
          width: 100%;
          padding: rem(16);
        }
        a {
          color: var(--accent-red);
          font-weight: 700;
          @include fluid-text(30, 24);
        }
        &::after {
          content: "";
          backdrop-filter: blur(35px);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.6);
        }
        * {
          position: relative;
          z-index: 2;
        }
        .title {
          font-family: var(--font-family);
          font-weight: 700;
          @include fluid-text(30, 24);
          line-height: 1.2;
          text-align: center;
          color: var(--border);

          text-align: center;
          display: table;
        }

      }
    }
  }
}


@keyframes height {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 106px);
    opacity: 1;
  }
}
