@use 'helpers' as *;
@use 'blocks' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  @include fluid-text(20, 14);
  line-height: 1.5;
  color: var(--border);
}

a {
  text-decoration: none;
}

.btn {
  background: var(--accent-red);
  border-radius: 60px;
  color: var(--typography-white) !important;
  min-width: 211px;
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  line-height: 1.2;
  font-weight: 700;
  @include fluid-text(24, 18);
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  @include fluid-text(60, 21);
  line-height: 108%;
  color: var(--border);
}

span.subtitle{
  font-family: var(--font-family);
  font-weight: 400;
  @include fluid-text(30, 18);
  line-height: 120%;
  color: var(--border);
}

span.blue {
  color: var(--typography-blue);
}

.container {
  max-width: fluid(1440, 320);
  width: 100%;
  display: block;
  margin: auto;
  @include tablet {
    max-width: 100%;
    padding: 0 23px;
  }
}

a {
  &:visited {
    color: inherit;
  }
  &:hover {
    opacity: .5;
    transition: .3s ease-in;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

.arrow_up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: var(--accent-red);
  width: rem(98);
  height: rem(98);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 29px;
  }
}

input,
textarea {
  border-radius: 50px;
  padding: rem(23) rem(30);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--typography-grey);
  border: 0;
  width: 100%;
}
input {
  max-height: rem(60);
}
textarea {
  max-height: rem(100);
}
input[type="submit"],
button {
  border: 0;
  max-width: unset;
  width: 100%;
}
