@use 'helpers' as *;

:root {
  --border: #00070e;
	--typography-black: #00070e;
	--typography-white: #fff;
	--typography-blue: #579fff;
	--typography-red: #ff5c4e;
	--typography-grey: #969899;
	--neutral-white: #fff;
	--neutral-blue: #579fff;
	--neutral-light-blue: #f2f7ff;
	--accent-red: #ff5c4e;
	--accent-light-blue2: #d1e3ff;

  --font-family: "Gilroy", sans-serif;
  --second-family: "Ink Free", sans-serif;
}
